{% extends "base.html" %} {% load static %} {% block content %}
<section>
  

  <div class="divAdministration">

    <h4>Edit About</h4>
    {% comment %} <a href={% url "edit_about" i.id %} type="submit" class="btn btn-primary">Update</a> {% endcomment %}
    {% comment %} <button type="button" class="btn btn-primary"><a href={% url "administration_about" %} class="text-light text-decoration-none">Go Edit About</a></button> {% endcomment %}
    <button type="button" class="btn btn-primary"><a href="/administration/about/edit/{{about.id}}" class="text-light text-decoration-none">Go Edit About</a></button>
    {% comment %} <button type="button" class="btn btn-primary"><a href={% url "edit_about" about.id %} class="text-light text-decoration-none">Go Edit About</a></button> {% endcomment %}

    <h4>Edit Facts</h4>
    <button type="button" class="btn btn-primary"><a href="/administration/facts/edit/{{facts.id}}" class="text-light text-decoration-none">Go Edit Facts</a></button>

    <h4>Edit Skills</h4>
    {% comment %} <button type="button" class="btn btn-primary"><a href="/administration/skills/edit/{{skills.id}}" class="text-light text-decoration-none">Go Edit Skills</a></button> {% endcomment %}
    <button type="button" class="btn btn-primary"><a href="/administration/skills/" class="text-light text-decoration-none">Go Edit Skills</a></button>

    <h4>Edit Portfolio</h4>
    <button type="button" class="btn btn-primary"><a href="/administration/theportfolio/" class="text-light text-decoration-none">Go Edit Portfolio</a></button>
    
    <h4>Edit Service</h4>
    {% comment %} <button type="button" class="btn btn-primary"><a href="/administration/service/edit/{{service.id}}" class="text-light text-decoration-none">Go Edit Service</a></button> {% endcomment %}
    <button type="button" class="btn btn-primary"><a href="/administration/service/" class="text-light text-decoration-none">Go Edit Portfolio</a></button>

    {% comment %} <h4>Edit Testimonial</h4>
    <button type="button" class="btn btn-primary"><a href="/administration/testimonial/edit/{{testimonial.id}}" class="text-light text-decoration-none">Go Edit Testimonial</a></button>

    <h4>Edit Contact</h4>
    <button type="button" class="btn btn-primary"><a href="/administration/contact/edit/{{contact.id}}" class="text-light text-decoration-none">Go Edit Contact</a></button>  {% endcomment %}


  </div>

  
</section>
{% endblock content %}
